/* for the water drops */
.container4{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 0;
  gap: 40px 60px;
}
.container4 .drop{
  position: relative;
  width: 350px;
  height: 350px;
  background: #5DACD4;
  /* background:#54abfb; */
  box-shadow: inset 20px 20px 20px rgba(0,0,0,0.05), 25px 35px 20px rgba(0,0,0,0.05),25px 30px 30px rgba(0,0,0,0.05),
  inset -20px -20px 25px rgba(255 255 255 0.9);
  transition: 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container4 .drop:nth-child(1){
  border-radius: 47% 53% 70% 30% / 30% 43% 57% 70%;
}
.container4 .drop:nth-child(2){
  border-radius: 73% 27% 59% 41% / 57% 59% 41% 43%;
}
.container4 .drop:nth-child(3){
  border-radius: 35% 65% 31% 69% / 57% 59% 41% 43%;
}
.container4 .drop:hover{
  border-radius: 50%;
}
.container4 .drop::after{
  content: '';
  position: absolute;
  top: 90px;
  left: 110px;
  width: 15px;
  height: 15px;
  background:#D4F1F8 ;
  border-radius: 50%;
  opacity: 0.9;
}
.container4 .drop .content1{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 40px;
  gap: 15px;
}
.container4 .drop .content1 h2{
  position: relative;
  width: 80px;
  height: 80px;
  background: #eff0f4;
  border-radius: 50%;
  box-shadow: inset 2px 5px 10px rgba(0,0,0,0.1),
  inset -2px -5px 10px rgba(255 255 255 1),
  15px 15px 10px rgba(0,0,0,0.05),
  15px,10px,15px rgba(0,0,0,0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: var(color);
}
.container4 .drop .content1 a {
  position: relative;
  padding: 10px 25px;
  background: var(color);
  text-decoration: none;
  color:#fff;
  border-radius: 25px;
  font-weight: 500;
  text-shadow: 0,2px 2px- rgba(0,0,0,0.25);
  opacity: 0.75;
  transition: 0.5s;
}
.container4 .drop .content1 a:hover {
  opacity: 1;
}

.container4 .drop .content1 a::before {
content: '';
position: absolute;
width: 65px;
height: 5px;
border-radius: 5px;
background: rgba(255 255 255 0.5);
left: 50%;
transform: translateX(-50px);
top: 8px;
}
.dark-mode{
  background-color: black;
  color: white;
}