.container{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  #logo{
  font-size: 35px;
  font-weight: bold;
  transition: 0.4s;
  color: black;
  }
  #navbar{
    overflow: hidden;
  }
  #navbar a {
    float: left;
    /* display: block; */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    
  }
  ul li {
    margin-left: 2rem;
    list-style-type: none;
  }
  ul li:first-child{
    margin: 0;
  }
  ul li a {
    text-decoration: underline;
    color: black;
  }
  ul li a:active{
    text-decoration: double underline;
  }
  ul li a:hover{
    text-decoration: double underline;
    transition:ease-in;
    font-family: cursive;
    color:  #0D6EFD;  
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 17px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: #0D6EFD;
    border-radius: 8px;
    font-family: inherit;
    margin: 0;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* .topnav a:hover, .dropdown:hover .dropbtn {
    background-color:transparent;
  } */
  
  .dropdown-content a:hover {
    background-color: #ddd;
    text-shadow: 2px 2px 5px #0D6EFD;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .content {
    padding: 16px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }
  .d-flex{
    display: flex;
  }
  .justify-content-between{
    justify-content: space-between;
  }
  .m-l{
    margin-left: 1rem;
  }
  .m-t{
    margin-top: 5rem;
  }
  #img-1{
    position: relative;
    transition: 8s ease-out;
    animation: fan 10s ease-in-out ;
    animation-delay: 1s;
    z-index: -1;
    background-image: url('3653349.png');
  }
  @keyframes fan {
  0%{
    top: 0;
    left:0;
  }
  25%{
    top:0;
    left: 300px;
  }
  /* 50%{
    top: 0;
    left: 620px;
  } */
  100% {
    top: 0;
    left: 0;
    /* background-color:white; */
  }
  }
  .h-2{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  .p-2{
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
  }
  .btn2{
    width: 30%;
    cursor: pointer;
    border-radius: 10px;
    background-color: #0D6EFD;
    color: white;
    padding: 15px;
  }  
  #faq-color{
    color: #0D6EFD;
  }
  .accordion > input[type="checkbox"] {
    position: absolute;
    left: -100vw;
  }
  
  .accordion .content {
    overflow-y: hidden;
    height: 0;
    transition: height 0.3s ease;
  }
  
  .accordion > input[type="checkbox"]:checked ~ .content {
    height: auto;
    overflow: visible;
  }
  
  .accordion label {
    display: block;
  }
  
  /*
   Styling
  */
  .accordion {
    margin-bottom: 1em;
  }
  /*for the content*/
  .accordion > input[type="checkbox"]:checked ~ .content {
    padding: 15px;
    border: 1px white;
    border-top: 0;
  }
  /* for the questions collapsible */
  .accordion .handle {
    margin: 0;
    font-size: 1.125em;
    line-height: 1.2em;
  }
  
  .accordion label {
    cursor: pointer;
    font-weight: normal;
    padding: 15px;
    background: white;
    color: #0D6EFD;
  }
  
  .accordion label:hover,
  .accordion label:focus {
   background-color: #0D6EFD;
   color:white;
  }
  
  .accordion .handle label:before {
    font-family: 'fontawesome';
    content: '\02795';
    display: inline-block;
    margin-right: 10px;
    font-size: .58em;
    line-height: 1.556em;
    vertical-align: middle;
  }
  
  .accordion > input[type="checkbox"]:checked ~ .handle label:before {
    content:  "\2796";
  }
  
  
  /*
   Demo purposes only
  */
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  
 